@{
    ViewData["Title"] = "Home Page";
}
@model List<Post>
<style>
  
    a {
        text-decoration: none !important;
        color: black !important;
    }

    .main-index {
        margin-top: 150px;
    }
    
    .nav {
        position: relative;
        padding-bottom: 10px;
        z-index: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Black line */
    }

    .nav-link2 {
        position: relative;
        color: black;
        padding-bottom: 5px;
    }

    .nav-link2::before {
        content: '';
        position: relative;
        bottom: -10px; 
        left: 0;
        width: 100%;
        height: 2px;
        z-index: 2; 
        border-bottom: 3px solid yellow; 
        visibility: hidden;
        transform: scaleX(0);
        transition: transform 0.3s ease, visibility 0.3s ease;
        transform-origin: left;
    }

    .nav-link2:hover::before {
        padding: 20px;
        position: absolute;
        visibility: visible;
        transform: scaleX(1);
    }

    .news-item {
        display: flex;
        margin-bottom: 50px;
    }

    .news-image {
        flex-basis: 35%; 
        padding-right: 40px;
    }

    .news-text {
        flex-basis: 65%; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }

    .news-date  {
        font-size: 0.8rem;
        color: #999;
    }

    .news-tag {
        font-size: 0.8rem;
        color: orange;
    }

    .news-header {
        display: flex;
        justify-content: space-between; 
        align-items: flex-start;
    }


    .news-title {
        font-size: 1.25rem;
        font-weight: bold;
        margin: 10px 0;
    }

    .news-desc {
        font-size: 1rem;
        color: #666;
    }

    .news-readmore {
        font-size: 0.9rem;
        font-weight: bold;
        color: #007bff !important;
        text-decoration: none;
        margin-top: auto;

    }

    .news-readmore:hover {
        text-decoration: underline;
    }    

    @@media (max-width: 992px) {     
        .main-index {
            margin-top: 50px;
        }

        .news-item {
            flex-direction: column;
            margin-bottom: 70px;
        }

        .news-header {
            margin-top: 20px;
        }

        .news-image, .news-text {
            flex-basis: 100%;
            padding-right: 0;
        }
        
        .container {
            margin: 10px auto !important;
        }

        .nav {
            margin-top: 60px;
            margin-left: auto;
            margin-right: auto;
        }

        .btm-bar {
            display: block ;
        }
    }

    @@media (max-width: 767px) {
        .news-item {
            flex-direction: column;
        }

        .news-image, .news-text {
            flex-basis: 100%;
            padding-right: 0;
        }

        .container {
            margin: 10px auto !important;
        }

        .nav {
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
        }
    }
</style>

<div class="container-fluid align-content-center main-index">
    <ul class="nav nav-underline mb-5 ms-lg-5">
        <li class="nav-item mx-lg-5">
            <a class="nav-link nav-link2" aria-current="page" href="#">All</a>
        </li>
        <li class="nav-item me-lg-5">
            <a class="nav-link nav-link2" href="#">Company News</a>
        </li>
        <li class="nav-item me-lg-5">
            <a class="nav-link nav-link2" href="#">Training Schedule</a>
        </li>
        <li class="nav-item me-lg-5">
            <a class="nav-link nav-link2" href="#">Holiday Schedule</a>
        </li>
    </ul>
    <div class="container mt-4">
        @foreach (var post in Model)
        {
            <div class="news-item">
                <div class="news-image">
                    <img src="@Url.Content("~/assets/images/img-news.jpg")" alt="Image" class="img-fluid">
                </div>
                <div class="news-text">
                    <div class="news-header">
                        <p class="news-date">@post.PublishDate.ToString("yyyy-MM-dd")</p>
                        <p class="news-tag">@string.Join(", ", post.Categories)</p>
                    </div>
                    <h2 class="news-title">@post.PostTitle</h2>
                    <p class="news-desc">@post.Description</p>
                    <a href="#" class="news-readmore">Read More &gt;</a>
                </div>
            </div>
        }
    </div>
</div>



